@import url(variaveis.css);

header {
    background-color: var(--light-blue);
}

nav button{
    color: var(--blue-text);
    background-color: var(--blue);
}

nav h1 {
    color: var(--light-blue-text);
}

.bar {
    background-color: var(--light-blue-text);
}

.flex_center img {
    border-color: var(--blue-text);
}

#btn_login {
    color: #FAFAFA;
    background-color: var(--light-blue-text);
}

.btn:hover {
    box-shadow: inset -10px 0px 10px 50px rgba(233, 192, 245, 0.5);
}


.footer {
    background-color: var(--light-blue);
}