@import url(variaveis.css);
/* @import url(style.css); */

header {
    color: var(--dark-orange);
    background-color: var(--light-orange);
}

nav button{
    color: var(--dark-orange);
    background-color: var(--orange);
}

nav h1 {
    color: var(--dark-orange);
}

.bar {
    background-color: var(--dark-orange);
}

#btn_respiracao {
    padding: 16px 48px;
    height: auto;
    box-shadow: var(--drop-shadow);
    background-color: var(--orange);
    color: var(--dark-orange);
}

#btn_respiracao:hover {
    color: var(--yellow);
    background-color: var(--dark-orange);
}

h4 {
    color: var(--dark-orange);
}

.mensagem {
    color: var(--dark-orange);
}

.footer {
    background-color: var(--light-orange);
}