@import url(variaveis.css);

header {
    background-color: var(--light-green);
}

nav button{
    color: var(--green-text);
    background-color: var(--green);
}

nav h1 {
    color: var(--green-text);
    
}

.bar {
    background-color: var(--green-text);
}

.informacao h2 {
    color: var(--green-text);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--light-green); 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--green-text);
    border-radius: 10px;
    width: 6px;
    height: 40px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--light-green); 
}

.footer {
    background-color: var(--light-green);
}
